<p>reminder works!</p>
<!-- <template> -->
    <div class="p-5 h-screen bg-gray-100">
        <h1 class="text-xl mb-2">List user</h1>
        <div class="overflow-auto rounded-lg shadow">
          <table class="w-full">
    
            <thead class="bg-gray-50 border-b-2 border-gray-200 ">
              <tr>
                <th class="w-20 p-3 text-sm font-semibold tracking-wide text-left">Email</th>
                <th class="p-3 text-sm font-semibold tracking-wide text-left">Name</th>
                <th class="w-24 p-3 text-sm font-semibold tracking-wide text-left">Phone Number</th>
                <th class="w-24 p-3 text-sm font-semibold tracking-wide text-left">Role</th>
                <th class="w-32 p-3 text-sm font-semibold tracking-wide text-left">Action</th>
              </tr>
            </thead>
    
            <tbody class="divide-y divide-gray-100">
    
              <tr class="bg-white">
                <td class="p-3 text-sm text-gray-700    whitespace-nowrap">ckctm12@gmail.com</td>
                <td class="p-3 text-sm text-gray-700 whitespace-nowrap">
                  Robert Fox</td>
                <td class="p-3 text-sm text-gray-700 whitespace-nowrap">
                  <span class="p-1.5 text-xs font-medium uppercase tracking-wider text-green-800 bg-green-200 rounded-lg bg-opacity-50">Delived</span>
                </td>
                <td class="p-3 text-sm text-gray-700 whitespace-nowrap">16/10/2021</td>
                <td class="p-3 text-sm text-gray-700 whitespace-nowrap">$200,00</td>
              </tr>
              
              <tr class="bg-gray-50">
                <td class="p-3 text-sm text-gray-700">
                </td>
                <td class="p-3 text-sm text-gray-700 whitespace-nowrap">
                  Kring New
                </td>
                <td class="p-3 text-sm text-gray-700 whitespace-nowrap">
                  <span class="p-1.5 text-xs font-medium uppercase tracking-wider text-yellow-800 bg-yellow-200 rounded-lg bg-opacity-50">Shiped</span>
                </td>
                <td class="p-3 text-sm text-gray-700 whitespace-nowrap">16/10/2021</td>
                <td class="p-3 text-sm text-gray-700 whitespace-nowrap">$200,00</td>
              </tr>
    
              <tr class="bg-white">
                <td class="p-3 text-sm text-gray-700 whitespace-nowrap">
    
                </td>
                <td class="p-3 text-sm text-gray-700 whitespace-nowrap">
                  Kring New
                </td>
                <td class="p-3 text-sm text-gray-700 whitespace-nowrap">
                  <span class="p-1.5 text-xs font-medium uppercase tracking-wider text-gray-800 bg-gray-200 rounded-lg bg-opacity-50">cancelled</span>
                </td>
                <td class="p-3 text-sm text-gray-700 whitespace-nowrap">16/10/2021</td>
                <td class="p-3 text-sm text-gray-700 whitespace-nowrap">$200,00</td>
              </tr>
            </tbody>
    
          </table>
        </div>
      </div>
    <!-- </template> -->