<!-- <router-outlet></router-outlet> -->

  <main class="flex items-center justify-center h-screen bg-gray-200">
    <form>
      <div class="bg-white w-96 p-6 rounded shadow-sm">
        <!-- <div class="bg-red-500 px-3 py-2 ronded text-gray-100 mb-3">
          <p>wrong email entered</p>
        </div> --> 
        <h1 class="flex items-center justify-center font-bold py-2 mb-8 text-3xl">LOGIN</h1>
        <label class="text-gray-700">Username</label>
        <input class="w-full py-2 bg-gray-100 text-gray-500 px-1 outline-none mb-4" type="email" required/>
        <label class="text-gray-700">Password</label>
        <input class="w-full py-2 bg-gray-100 text-gray-500 px-1 outline-none mb-4" type="password" required/>
        <input id="remember" class="mb-4 mr-1" type="checkbox">
        <label for="remember" class="text-gray-700">Remember Me</label>
        <button routerLink="/dashboard" type="submit" class="bg-slate-800 w-full text-gray-100 py-2 rounded hover:bg-blue-600 transition-colors">LOGIN</button>
        <label for="sign-up" class="text-gray-700 flex items-center justify-center my-1">Don’t have an account?<a routerLink="/sign-up" class="underline text-blue-700"> Sign-up</a></label>
      </div>
    </form>
  </main>
